html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url(./img/Screenshot\ 2022-10-28\ at\ 4.49.53\ PM.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}